* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

.head {
  width: 100%;
  height: 55px;
  background: rgb(221, 223, 255);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 10;
}

.scl-logo {
  position: absolute;
  width: 75px;
  height: 50px;
  border-radius: 5px;
  left: 5%;
}

.menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: 10%;
  margin-right: 5%;
  padding: 0 5px;
  height: 50px;
}

#menu-check {
  display: none;
}

.menu-toggle {
  display: none;
  font-size: 28px;
  cursor: pointer;
  color: rgb(0, 0, 0);
  position: relative;
  z-index: 10;
}

.menu-toggle .close {
  display: none;
}

.menu-overlay {
  display: none;
}

#menu-check:checked+.menu-toggle .open {
  display: none;
}

ul {
  list-style: none;
  display: flex;
  gap: 10px;
}

.list-item {
  text-align: center;
  padding: 6px 10px;
  border-radius: 20px 0 20px 0;
  transition: 0.3s;

}

.list-link {
  color:black;
  text-decoration: none;
  font-size: 20px;
}

.list-item:hover {
  background: rgb(163, 162, 162);
}

.list-item:hover .list-link {
  color: rgb(255, 255, 255);
}

#menu-check:checked+.menu-toggle .close {
  display: inline;
}

@media (max-width:668px) {
  #nav-menu {
    position: fixed;
    top: 50px;
    right: -220px;
    width: 220px;
    height: 100vh;
    background: black;
    transition: 0.3s;
  }
  .list-link{
    color:white;
  }
  .menu-toggle {
    display: block;
  }

  #nav-menu label {
    display: block;
    cursor: pointer;
  }

  .scl-logo {
    width: 55px;
    height: 50px;
  }

  #nav-menu label {
    display: block;
    cursor: pointer;
  }


  #menu-check:checked~.menu-overlay {
    display: block;
  }


  #nav-menu {
    flex-direction: column;
    position: fixed;
    top: 50px;
    right: -220px;
    background: rgba(0, 0, 0, 0.9);
    width: 200px;
    height: 100vh;
    padding-top: 0px;
    transition: right 0.3s ease;
    z-index: 10;
  }

  #menu-check:checked~#nav-menu {
    right: 0;
  }

  .list-item {
    padding: 15px 10px;
    width: 100%;
    border-radius: 20px;
  }

  .list-link {
    font-size: 18px;
    display: block;
  }
}

@media (min-width:669px) and (max-width:920px) {
  #nav-menu {
    position: fixed;
    top: 50px;
    right: -240px;
    width: 230px;
    height: 100vh;
    background: black;
    transition: 0.3s;
  }

  .menu-toggle {
    display: block;
  }
  .list-link{
    color:white;
  }
  #nav-menu label {
    display: block;
    cursor: pointer;
  }

  .scl-logo {
    width: 60px;
    height: 50px;
  }

  #nav-menu label {
    display: block;
    cursor: pointer;
  }


  #menu-check:checked~.menu-overlay {
    display: block;
  }


  #nav-menu {
    flex-direction: column;
    position: fixed;
    top: 50px;
    right: -240px;
    background: rgba(0, 0, 0, 0.9);
    width: 230px;
    height: 100vh;
    padding-top: 0px;
    transition: right 0.3s ease;
    z-index: 10;
  }

  #menu-check:checked~#nav-menu {
    right: 0;
  }

  .list-item {
    padding: 15px 10px;
    width: 100%;
    border-radius: 20px;
  }

  .list-link {
    font-size: 19px;
    display: block;
  }
}



#Admission-main {
  width: 90%;
  height: auto;
  margin: 0px auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

.admission-name {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 30px;
  color: black;
  padding: 10px 0px;
}

#Admission {
  width: 100%;
  height: auto;
  background: rgb(234, 232, 229);
  margin: 0px auto;
  padding-top: 10px;
  padding-bottom: 50px;
}

.admission-text {
  text-align: center;
  font-size: 1.5rem;
  padding: 10px 40px 10px 40px;
  color: #09810d;
}

#admission-form {
  max-width: 700px;
  margin: 20px auto;
  padding: 25px;
  background:white;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.7);
}

.Online-text {
  text-align: center;
  margin-bottom: 25px;
  font-size: 30px;
  color: #1b5e20;
}

.steps {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.steps label {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #c8e6c9;
  color: #1b5e20;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

#step1:checked~.steps label[for="step1"],
#step2:checked~.steps label[for="step2"],
#step3:checked~.steps label[for="step3"],
#step4:checked~.steps label[for="step4"] {
  background: #2e7d32;
  color: #fff;
}

.form-step {
  display: none;
  animation: fade 0.4s ease;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#step1:checked~.step1,
#step2:checked~.step2,
#step3:checked~.step3,
#step4:checked~.step4 {
  display: block;
}

.form-step h2 {
  margin-bottom: 20px;
  color: #2e7d32;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 6px;
  font-weight: 600;
  color: #333;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
  background: #ffffff;
}

.form-group input:focus,
.form-group select:focus {
  outline: none;
  border-color: #2e7d32;
}

.next,
.back,
.submit {
  display: inline-block;
  padding: 10px 18px;
  border-radius: 6px;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  margin-top: 15px;
}

.next {
  background: #2e7d32;
  color: #fff;
}

.back {
  background: #9e9e9e;
  color: #fff;
}

.submit {
  background: #1b5e20;
  color: #fff;
  border: none;
}

.next:hover {
  background: #1b5e20;
}

.back:hover {
  background: #757575;
}

.submit:hover {
  background: #0d3d12;
}


.btn-group {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

@media (max-width:668px) {
  #admission-form {
    margin: 0px 20px 50px 20px;
  }

  .admission-name {
    font-size: 2rem;
  }

  .admission-text {
    font-size: 1rem;
    padding-left: 10px;
    padding-right: 10px;
  }

  #admission-form {
    padding: 18px;
  }

  .Online-text {
    font-size: 24px;
  }

  h2 {
    font-size: 22px;
  }

  .steps label {
    width: 32px;
    height: 32px;
    font-size: 14px;
  }
}

@media (min-width:669px) and (max-width:920px){
  
#admission-form {
  max-width: 500px;
}
}

#CONTACT {
  width: 100%;
  padding-top: 50px;
  margin-top: 20px;
}

.contact-name {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 40px;
}

#Contact {
  width: 100%;
  padding: 80px 0 40px 0;
  background-color: rgb(43, 39, 39);
}

.contact-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  max-width: 900px;
  margin: auto;

}

.cont-detail {
  color: white;
  margin: 10px;
}

.cont-info {
  font-size: 30px;
  margin-bottom: 20px;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 15px;
  color: rgb(229, 220, 220);
}

.contact-item i {
  font-size: 25px;
  min-width: 22px;
  color: white;
}

.contact-item p {
  font-size: 17px;
}

.fb-link {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: #1060c9;
}

.fb-link i {
  font-size: 25px;
  color: rgb(80, 80, 222);
}

.fb-link span {
  color: white;
  font-size: 17px;
}

.cont-map {
  height: 300px;
}

.cont-map iframe {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  border: 0;
}

.dev-name {
  text-align: center;
  margin-top: 30px;
  color: white;
  font-size: 22px;
}

hr {
  border: 1px solid white;
  margin: 20px 0;
}

@media (max-width:600px) {
  .contact-box {
    display: flex;
    flex-direction: column;
  }

  .cont-detail {
    order: 1;
  }

  .cont-map {
    order: 2;
  }

  .contact-name {
    font-size: 2rem;
  }

  .cont-info {
    font-size: 25px;
    text-align: center;
  }

  .contact-item i {
    font-size: 23px;
  }
 .contact-item p{
  font-size: 15px;
 }
  .fb-link span {
    font-size: 15px;
  }

  .cont-map {
    height: 230px;
  }

  #Contact {
    padding: 15px;
  }

  .dev-name {
    font-size: 14px;
  }
}


@media (min-width:669px) and (max-width:920px){
  
  .contact-box {
 display: grid;
  grid-template-columns:1fr 1fr;
    max-width: 700px;
  }

  .cont-detail {
    order: 1;
  }

  .cont-map {
    margin-top: 60px;
    margin-right: 20px;
    order: 2;
  }

  .contact-name {
    font-size: 2.2rem;
  }

  .cont-info {
    font-size: 26px;
    text-align: center;
  }

  .contact-item i {
    font-size: 24px;
  }

  .fb-link span {
    font-size: 17px;
  }

  .cont-map {
    height: 240px;
  }

  #Contact {
    padding: 15px;
  }

  .dev-name {
    font-size: 14px;
  }
} 